$green: #234229;
$beige: #F8F3E7;
$coral: #F6CFB2;
$white: #FBF9F3;

// home page
.about-container {

  h2 {
    color: $green;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  li > p:first-child {
    color: $green;
    font-weight: bold;
  }
}
