$green: #234229;
$beige: #f8f3e7;
$coral: #f6cfb2;
$white: #fbf9f3;

// App.js
.app {
  background-color: $white;
  font-family: "Raleway", sans-serif;

  .promo-banner {
    background-color: $green;
    color: $white;
    margin-bottom: -1rem;

    p {
      padding: 10px;
    }
  }

  .navbar {
    background-color: $white;

    .nav-link {
      color: $green;
      font-weight: 600;
    }

    .logo {
      color: $green;
      margin-left: 1rem;
      font-size: 2rem;
      padding: 0;
      font-family: "Baloo Bhai 2", cursive;
    }

    #link-container {
      margin-right: 4rem;
    }
  }

  .offcanvas-backdrop {
    background-color: black;
  }
}

#offcanvasNavbarLabel-expand-lg {
  color: $green;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

#search-btn {
  background-color: inherit;
  border: none;
  padding: 0;
  color: $green;

  #btn {
    font-size: 2rem;
  }
}

.testimonial span {
  font-weight: bold;
  color: $green;
}

#cart-offcanvas {
  background-color: $green;
  color: $white;
  font-family: "Raleway", sans-serif;
}
