$green: #234229;
$beige: #F8F3E7;
$coral: #F6CFB2;
$white: #FBF9F3;

// App.js
.app {
  .promo-banner {
    background-color: $green;
    color: $white;

    p {
      padding: 10px;
    }
  }

  nav {
    color: $green;
    text-decoration: none;
  }
}

// home page
.home-carousel-container {
  position: relative;

  .carousel-message {
    max-width: 40rem;
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 10%;

    h1 {
      color: $white;
      font-size: 4rem;
    }

    p {
      color: $coral;
      font-size: 2rem;
    }

    button {
      background-color: $coral;
      color: $green;
      font-weight: bold;
      padding: 1rem;
      width: 15rem;
      border-radius: 40px;
      border: none;
    }

    button:active {
      border: 0.2rem solid rgb(251, 249, 243, 0.2);
      background-color: $green;
      color: $coral
    }
  }

  .home-carousel {
    // height: 75vh;
  }
}
